@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  white-space: pre-line;
}

.card-slider:hover .card-hover-effect {
  transform: translateX(100%);
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #5b747b;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.active {
  color: #ff6e6e;
}

/* Componentes */
@layer components {
  /* BOTON DEFAULT */
  .btn {
    @apply bg-primary hover:bg-[#317b90] hover:scale-110 text-white py-4 px-8 uppercase  rounded-xl shadow-xl transition-all duration-300;
  }
}

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
